.ContactList {
width: 400px;
padding-left: 0;
}

.ContactList_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.ContactList_btn {
margin-top: 0;
margin-bottom: 0;
margin-right: 10px;
}
